.color-title{
    color: #00B853;
}
.back-title{
    background-color: #00B853;
}
.color-price{
    color: #D51243;
}
.color-discount{
    background-color: #35AFA0;
}
.pointer-product{
    cursor: pointer;
}

.color-offer{
    color: #038E42;
}

.back-offer{
    background: linear-gradient(to right, #00B85333 20%, #20375800 100%);

}