
.NavPart-1{
  background-color: var(--main-color);
  padding: 9px 389.5px 9px 389.5px;
  height: 36px;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #fff; 
 
}
.NavPart-2 {
  height: 40px;
  border-bottom: 1px solid var(--opasty-color);
  padding: 0 130px 1px 130px;
}
.NavPart-2 .Part-left{
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: var(--dark-color); 
}
.NavPart-2 .Part-right {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: var(--dark-color);
}
.NavPart-2 .cullUs{
  color: var(--main-color);
}
.NavPart-2 .lang{
  border-left: solid 1px var(--opasty-color);
  padding-left: 5px;
  margin-left: 5px;
}
.NavPart-3{
  height: 93px;
  padding: 30px 130px 0 130px;
}
.NavPart-3 .logo{
  position: absolute;
  top: -15px;
  left: -20px;
  clip-path: inset(0 0 43% 0);
}
.NavPart-3 .searchPart{
  background-color: #F3F4F7;
  border-radius: 7px;
  height: 60px;
}
.NavPart-3 .searchPart input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  background-color: unset;
  color: #9595A9;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.3px;
  font-size: 14px;
  
}
.NavPart-3 .searchPart input:focus {
  outline: none;
  box-shadow: none;

}
.NavPart-3 .searchPart svg{
  margin: 0 10px 0 10px;
}
.NavPart-3 .cartPart .badge {
  position: absolute;  
  right: 0;
  background-color: #EA2B0F;
  color: white;
  border-radius: 8.5px;
  padding: 0.5px 5.39px 1.5px 5.39px;
  font-size: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: -0.1px;
}
.NavPart-4{
  padding: 30px 130px 0 130px;
}
 .NavPart-4 .leftPart{
  border-radius: 50px;
  background-color: var(--main-color);
  color: var(--light-color);
  width: 213px;
  height: 50px;
}
.leftPart .totalProdct{
  position: absolute;
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0;
  color: #71778E;
  background-color: #EDEEF5;
  border-radius: 18px;
  padding: 1px 9px 2px 9px;
  top: 40px;
  left: 45px;  
  height: 18px;
}
/* /////////////////////////////////////////////////// */
.navbar{
  color: #3E445A;
  padding: 1rem;
  text-align: center;
  
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #3E445A;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  display: flex;
  align-items: center;

}


.navbar a:hover {
  color: #ccc;
}